<ion-tabs>

  <ion-tab-bar slot="bottom" color="light">
    <ion-tab-button tab="tab1">
      <ion-icon name="male" color="primary"></ion-icon>
      <ion-label color="primary">Peso ideal masculino</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="female" color="danger"></ion-icon>
      <ion-label color="danger">Peso ideal feminino</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="calculator" color="tertiary"></ion-icon>
      <ion-label color="tertiary">IMC</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
